@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "mersad-bold";
  src: url("../fonts/MersadExtraBold.ttf");
}
@font-face {
  font-family: "mersad-regular";
  src: url("../fonts/MersadRegular.ttf");
}

@font-face {
  font-family: "mersad-light";
  src: url("../fonts/MersadThin.ttf");
}
